@mixin before {
  line-height: 1;
  padding-top: 2px;
  margin-top: 3px;
}
@mixin whitespace {
  white-space: pre;
  font-family: var(--font-monospace);
  line-height: 1;
  color: var(--show-whitespace-color);
}
@mixin line-ending {
  line-height: 1;
  width: 1.2ch;
  padding-left: 0.2ch;
  vertical-align: middle;
}
@mixin all-whitespace {
  .cm-highlightSpace:not(.cm-indent .cm-highlightSpace) {
    @include whitespace;
  }
  .cm-highlightSpace:before {
    content: attr(data-display);
    margin-top: 3px;
    @include before;
  }

  .cm-indent-spacing .cm-highlightSpace[data-display$="·"]:before {
    // content: attr(data-display);
    content: "·";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="··"]:before {
    // content: attr(data-display);
    content: "··";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="···"]:before {
    // content: attr(data-display);
    content: "···";
    margin-top: 3px;
    @include before;
  }

  .cm-indent-spacing .cm-highlightSpace[data-display$="·····"]:before {
    // content: attr(data-display);
    content: "·";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="······"]:before {
    // content: attr(data-display);
    content: "··";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="·······"]:before {
    // content: attr(data-display);
    content: "···";
    margin-top: 3px;
    @include before;
  }

  .cm-indent-spacing .cm-highlightSpace[data-display$="·········"]:before {
    // content: attr(data-display);
    content: "·";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="··········"]:before {
    // content: attr(data-display);
    content: "··";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="···········"]:before {
    // content: attr(data-display);
    content: "···";
    margin-top: 3px;
    @include before;
  }

  .cm-indent-spacing .cm-highlightSpace[data-display$="·············"]:before {
    // content: attr(data-display);
    content: "·";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="··············"]:before {
    // content: attr(data-display);
    content: "··";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="···············"]:before {
    // content: attr(data-display);
    content: "···";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="·················"]:before {
    // content: attr(data-display);
    content: "·";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="··················"]:before {
    // content: attr(data-display);
    content: "··";
    margin-top: 3px;
    @include before;
  }
  .cm-indent-spacing .cm-highlightSpace[data-display$="···················"]:before {
    // content: attr(data-display);
    content: "···";
    margin-top: 3px;
    @include before;
  }
}


.theme-dark {
  --swcm6-outline-list-markers-color: rgba(var(--mono-rgb-100), 0.05);
}
.theme-light {
  --swcm6-outline-list-markers-color: rgba(var(--mono-rgb-100), 0.03);
}

.cm-hmd-list-indent .cm-highlightTab{
  background: none;
}



body:not(.swcm6-nix-plugin-styles) {
  --show-whitespace-color: var(--color-base-40);

  .markdown-source-view.mod-cm6 {
    .HyperMD-list-line-nobullet .cm-indent {
      min-width: unset;
    }

    &.is-live-preview .HyperMD-quote:before,
    .cm-blockquote-border:before {
      border-left: none;
      border-right: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
    }


    .cm-line {
      .cm-trailing-space-a .cm-trailingSpace .cm-highlightSpace:before {
        content: "·";
        @include before;
      }

      .cm-trailing-space-b .cm-trailingSpace .cm-highlightSpace:before {
        content: "·";
        @include before;
      }

      .cm-trailing-space-new-line .cm-trailingSpace .cm-highlightSpace:before {
        content: "·";
        @include before;
      }

      .cm-indent-spacing .cm-trailingSpace .cm-highlightSpace:before {
        content: "·";
        @include before;
      }

      .cm-highlightSpace:before {
        color: var(--show-whitespace-color);
      }

      .cm-indent,
      .cm-trailingSpace {
        @include whitespace;
      }
      .cm-indent .cm-highlightSpace[data-display$="····"]:before {
        content: '····';
        bottom: 3px;
      }

      &:not(:has(br)):not(:has(.cm-trailing-space-new-line)):not(:has(.cm-trailingSpace)):after {
        color: var(--show-whitespace-color);
        content: '¬';
        padding-left: 0.2ch;
        @include line-ending;
      }

      .cm-trailingSpace .cm-highlightSpace:before {
        content: attr(data-display);
        @include before;
      }
      .cm-hmd-codeblock:last-child,
      .cm-trailing-space-new-line {
        .cm-trailingSpace:has(.cm-highlightSpace[data-display$=""]) {
          .cm-highlightSpace:after {
            content: '↲';
            @include line-ending;
          }
        }
      }
      .cm-trailingSpace {
        background-color: transparent;
      }
    }
  }
}

body:not(.swcm6-nix-plugin-styles).swcm6-show-blockquote-markers {
  .markdown-source-view.mod-cm6 {
    .HyperMD-quote .cm-transparent {
      color: var(--show-whitespace-color);
    }
  }
}
body:not(.swcm6-nix-plugin-styles).swcm6-show-all-whitespace {
  .markdown-source-view.mod-cm6 .cm-line {
    @include all-whitespace;
  }
}
body:not(.swcm6-nix-plugin-styles):not(.swcm6-show-all-whitespace) {
  .markdown-source-view.mod-cm6 .cm-line {
    .cm-highlightSpace:not(.cm-indent .cm-highlightSpace):not(.cm-trailingSpace .cm-highlightSpace):before {
      content: '';
    }
  }
}
body:not(.swcm6-nix-plugin-styles):not(.swcm6-show-all-whitespace).swcm6-show-codeblock-whitespace {
  .markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
    @include all-whitespace;

    .cm-highlightSpace:not(.cm-indent .cm-highlightSpace):not(.cm-trailingSpace .cm-highlightSpace):before {
      content: attr(data-display);
      @include before;
    }
  }
}
body:not(.swcm6-nix-plugin-styles).swcm6-outline-list-markers {
  .markdown-source-view.mod-cm6 {
    .cm-line {
      .cm-formatting-list-ul,
      .cm-formatting-list-ol,
      .task-list-label {
        background-color: var(--swcm6-outline-list-markers-color);
      }
    }
  }
}
